#downloadVideo {
    border: none;
    background-color: red;
}

#dropdown-list {
    height: 100px;
    width: 100px;
    /* display: none; */
    /* position: absolute;
    top: 0;
    left: 0; */
    background-color: pink;
    z-index: 99999;
}

.show {
    display: inline-block;
}