#downloadVideo {
    border: none;
    background-color: red;
}

#dropdown-list {
    height: 100px;
    width: 100px;
    /* visibility: hidden; */
    background-color: pink;
    z-index: 99999;
}

.show {
    visibility: visible;
}

#dropdown-list ul {
    list-style: none;
    margin: 5px;
    
}

#link {
    margin: 5px;
    text-decoration: none;
}